:root{
    --cor-fundo: linear-gradient(to top,  #007bff, #f0f0f0);
    --cor-footer: linear-gradient(to both,  #007bff, #f0f0f0);
    --cor-texto: black;
    --cor-destaque: #005fc4;
    --cor-menu: #ffffff;
    --cor-botao: #007bff;
    --cor-botao-hover: #0056b3;
    --cor-texto-hover: #77b7fb;
    --cor-trilho: #007bff;
    --cor-indicador: #007bff;
    --cor-borda: #224ff3;
}

.dark{
    --cor-fundo: linear-gradient(to top,  #003873, #656565);
    --cor-footer: linear-gradient(to both,  #003873, #656565);
    --cor-texto: #ffffff;
    --cor-destaque: #67b0ff;
    --cor-botao: #67b0ff;
    --cor-botao-hover: #3582d4;
    --cor-texto-hover: #b8b8b8;
    --cor-trilho: #004084;
    --cor-indicador: #b8b8b8;
    --cor-borda: #b6d8ff;
}

.trilho{
    position: fixed;
    top: 22px;
    right: 25px;
    width: 50px;
    height: 25px;
    background-color: var(--cor-trilho);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2px;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.indicador {
    width: 23px;
    height: 23px;
    background-color: var(--cor-indicador);
    border-radius: 50%;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
#button {
    all: unset;
    width: 15px;
    height: 15px;
    background-color: var(--cor-botao);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#button:hover {
    background-color: var(--cor-botao-hover);
}


body.dark .trilho {
    background-color: var(--cor-trilho);
}

body.dark .indicador {
    transform: translateX(25px);
    background-color: var(--cor-indicador);
}




html{
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    text-align: center;
    margin-bottom: 1%;
}
header h1{
    display: inline-block;
    color: var(--cor-destaque);
    font-size: 50px;
    font-weight: bold;
}
body.dark footer {
    background-color: var(--cor-footer);
}

div.container{
    display: flex;
    text-align: center;
    float: right;
}
div.container button.flutmenu{
    background-color: var(--cor-fundo);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}
div.container button.flutmenu:hover{
    color: #007bff;
}

nav.menu{
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    float: left;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 20px;
    font-size: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    cursor: default;
}

a.menu{
    text-decoration: none;
    margin: 0 15px;
    transition: 0.05s;
    font-size: 25px;
    font-weight: bold;
    color:white;
}

a.menu:hover{
    text-decoration: none;
    transform:scale();
    color: #007bff;
}

body{
    background:var(--cor-fundo);
    margin: 0px;
    padding:0px;
}
div.home{
    width: 69% ;
    padding: 0.5%;
    float: left;
    text-align: left;
    border: rgba(0, 0, 0, 0.328) solid 3px;
    border-radius: 20px;
    margin: 5px 10px 5px 10px;
}
div.home h2{
    text-transform: capitalize;
}
div.home h2, h3{
    text-align: center;
    font-weight: bold;
    color: var(--cor-destaque);
}

div.home p{
    font-size: x-large;
    text-indent: 20px;
    color: var(--cor-texto);
}
div.home div#esq{
    display: flex;
    float:left;
    width: 45%;
    height:300px;
}
div.home div#dir{
    display: flex;
    float: left;
}

div li{
    color: var(--cor-texto);
}
div.destaque{
    width: 25%;
    padding: 0.5%;
    float: right;
    text-align: left;
    border: rgba(0, 0, 0, 0.328) solid 3px;
    border-radius: 20px;
    margin: 5px 10px 5px 10px;
}
div.destaque h2, h3{
    text-align: center;
    font-weight: bold;
    color: var(--cor-destaque);
}
div.destaque p{
    text-align: left;
    display: block;
    color: var(--cor-texto);
}
footer{
    background:var(--cor-footer);
    width: 100%;
    min-height: 200px;
    color: var(--cor-texto);
    padding: 1% 0% 1% 0%;
    clear: both;
}

footer, div span.nome{
    font-weight: bold;
    font-style: oblique;
    text-transform: capitalize;
}
footer span.title{
    font-weight: bold;
    text-transform: uppercase;
}

.contato{
    width: 10%;
    height: auto;
    border-color: var(--cor-borda);
    border-radius: 10px;
}
.legend{
    color: var(--cor-destaque);
}

li{
    list-style: none;
    color: var(--cor-texto);
}

fieldset label{
    color: var(--cor-destaque);
    padding-right: 10px;
    float: inline-start;
}
fieldset input , textarea{
    border: 1px solid var(--cor-borda);
    border-radius: 5px;
    background-color: var(--cor-botao);
    color: var(--cor-texto);
    padding: 5px;
}
fieldset input:hover, textarea:hover{
    background-color: var(--cor-botao-hover);
    color:var(--cor-texto);
}

form button{
    background-color:  var(--cor-botao);
    color: var(--cor-texto);
    border-radius: 5px;
    padding: 5px;
}
form button:hover{
    background-color: var(--cor-botao-hover);
    color: var(--cor-texto-hover);
}



#Refhtml{
    margin-right: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#menu{
    transition: opacity 0.5s ease, visibility 0.5s ease;
    position: absolute;
    top: 50px;
    right: 20px;
    width: 100px;
    background-color: var(--cor-fundo);
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
}

#menu.active{
    opacity: 1;
    visibility: visible;
}

#menu ul{
    transition: 0.5s;
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu ul li{
    transition: 0.5s;
}

#menu ul li a{
    display: block;
    transition: 0.5s;
    text-decoration: none;
    color: var(--cor-botao);
}

#menu ul li a:hover{
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: var(--cor-botao-hover);
    color: var(--cor-texto-hover);
    padding: 5px;
    border-radius: 15px;
}

.hidden{
    display: none;
}
