html{
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    background-color:rgb(20, 20, 20);
    text-align: center;
    margin-bottom: 1%;
}
header h1{
    display: inline-block;
    color: greenyellow;
    font-size: 50px;
    border-radius: 20px;
}

.carrosel-cont{
    width: 80%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.carrosel-slide{
    display: flex;
}
.carrosel-img{
    min-width: 100%;
    transition: 0.5s ease;
    color: greenyellow;
}
.prev, .next{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    background-color: rgb(0, 0, 0, 0.5s);
    color: white;
    padding: 10px;
    cursor: pointer;
}
.prev{
    left: 10px;
}
.next{
    right: 10px;
}

header nav.menu{
    display:flex;
    justify-content: space-around;
    align-items:baseline;
    color: greenyellow;
}

a.menu{
    text-decoration: none;
    transition: 0.05s;
    font-size: large;
    color:greenyellow;
}
a.menu:hover{
    text-decoration: none;
    transform:scale();
    padding: 6px;
    border-radius: 10px;
    background-color: greenyellow;
    color: rgb(118, 30, 195);
}

hr.separador{
    border: 1px solid rgb(104, 0, 196);
}

body{
    background-color:rgb(20, 20, 20);
    min-width: 900px;
    min-height: 200px;
}
div.home{
    width: 70% ;
    padding: 0.5%;
    float: left;
    text-align: left;
    border: rgba(132, 0, 255, 0.328) solid 3px;
    border-radius: 20px;
    margin: 5px 10px 5px 10px;
}
div.home h2, h3{
    text-align: center;
    font-weight: bold;
    color: rgb(104, 0, 196);
}
div.home p{
    font-size: x-large;
    color: greenyellow;
}
div.destaque{
    width: 25%;
    padding: 0.5%;
    float: right;
    text-align: left;
    border: rgb(132, 0, 255, 0.328) solid 3px;
    border-radius: 20px;
    margin: 5px 10px 5px 10px;
}
div.destaque h2, h3{
    text-align: center;
    font-weight: bold;
    color: rgb(104, 0, 196);
}
div.destaque p{
    text-align: left;
    display: block;
    color: greenyellow;
}
footer{ 
    background-color:rgb(27, 27, 27);
    width: 100%;
    min-height: 200px;
    color: greenyellow;
    padding: 1% 0% 1% 0%;
    clear: both;
}

.contato{
    display: flex;
    float: left;
    width: 10%;
    height: auto;
    border-color: rgb(104, 0, 196);
    border-radius: 10px;
}
.legend{
    color: rgb(144, 189, 144);
}

li{
    list-style: none;
    color: greenyellow;
}

fieldset label{
    color: greenyellow;
    padding-right: 10px;
    float: inline-start;
}
fieldset input , textarea{
    border: 1px solid rgb(104, 0, 196);
    border-radius: 5px;
    background-color: rgb(20, 20, 20);
    color: greenyellow;
    padding: 5px;
}
fieldset input:hover, textarea:hover{
    background-color: rgb(104, 0, 196);
    color: greenyellow;
}

form button{
    background-color: rgb(104, 0, 196);
    color: greenyellow;
    border-radius: 5px;
    padding: 5px;
}
form button:hover{
    background-color: greenyellow;
    color: rgb(104, 0, 196);
}
